
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="addProduct()">New Product</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="address-list col-md-3">
    @for (product of products; track $index) {
      <app-shopping-list-element
        [shopping]="product"
        (click)="select(product)">
        </app-shopping-list-element>
      }
  </div>
  <div class="col-md-9">
    @if (currentProduct !== null) {
      <app-shopping-view
        [shopping]="currentProduct"
        (fireDelete)="deleteCurrent()">
      </app-shopping-view>
    }
  </div>
</div>