
<div class="row">
  <div class="col-md-12">
    <form class="product-entry" (ngSubmit)="addProduct()">
      <label for="newProductName" class="form-label">Product Name</label>
      <input class="form-control" id="newProductName" name="newProductName"
             [(ngModel)]="newProductName" placeholder="e.g. broccoli" required>
      <button class="btn btn-success" type="submit" style="margin-left: 10px;">Add</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="address-list col-md-3">
    @for (product of products; track $index) {
      <app-shopping-list-element
        [shopping]="product"
        (click)="select(product)"
        (remove)="deleteProduct(product)">
        </app-shopping-list-element>
      }
  </div>
  <div class="col-md-9">
    @if (currentProduct !== null) {
      <app-shopping-view
        [shopping]="currentProduct"
        (fireDelete)="deleteCurrent()">
      </app-shopping-view>
    }
  </div>
</div>
